{%extends 'layout.html'%}
{% load static %}

{% block title %}{{ mineral.name }}{% endblock %}

{%block content%}
<h1 class="mineral__name">{{ mineral.name|title }}</h1>
<div class="mineral__image-bg">
    <img class="mineral__image" alt="{{ mineral.caption }}" src="/static/images/{{ mineral.image_filename }}">
    <p class="mineral__caption">{{ mineral.caption }}</p>
</div>
<div class="mineral__table-container">
    <table class="mineral__table">
        <tr>
            <td class="mineral__category">Category</td>
            <td>{{ mineral.category|title }}</td>
        </tr>
        {% if mineral.formula %}
        <tr>
            <td class="mineral__category">Formula</td>
            <td class="mineral__formula">{{ mineral.formula|safe }}</td>
        </tr>
        {% endif %}
        {% if mineral.strunz_classification %}
        <tr>
            <td class="mineral__category">Strunz Classification</td>
            <td>{{mineral.strunz_classification|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.unit_cell %}
        <tr>
            <td class="mineral__category">Unit Cell</td>
            <td>{{mineral.unit_cell|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.color %}
        <tr>
            <td class="mineral__category">Color</td>
            <td>{{mineral.color|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.crystal_habit %}
        <tr>
            <td class="mineral__category">Crystal Habit</td>
            <td>{{mineral.crystal_habit|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.mohs_scale_hardness %}
        <tr>
            <td class="mineral__category">Mohs Scale Hardness</td>
            <td>{{mineral.mohs_scale_hardness|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.crystal_system %}
        <tr>
            <td class="mineral__category">Crystal System</td>
            <td>{{mineral.crystal_system|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.crystal_symmetry %}
        <tr>
            <td class="mineral__category">Crystal Symmetry</td>
            <td>{{mineral.crystal_symmetry|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.cleavage %}
        <tr>
            <td class="mineral__category">Cleavage</td>
            <td>{{mineral.cleavage|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.luster %}
        <tr>
            <td class="mineral__category">Luster</td>
            <td>{{mineral.luster|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.streak %}
        <tr>
            <td class="mineral__category">Streak</td>
            <td>{{mineral.streak|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.diaphaneity %}
        <tr>
            <td class="mineral__category">Diaphaneity</td>
            <td>{{mineral.diaphaneity|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.optical_properties %}
        <tr>
            <td class="mineral__category">Optical Properties</td>
            <td>{{mineral.optical_properties|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.refractive_index %}
        <tr>
            <td class="mineral__category">Refractive Index</td>
            <td>{{mineral.refractive_index|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.specific_gravity %}
        <tr>
            <td class="mineral__category">Specific Gravity</td>
            <td>{{mineral.specific_gravity|title}}</td>
        </tr>
        {% endif %}
        {% if mineral.group %}
        <tr>
            <td class="mineral__category">Group</td>
            <td>{{mineral.group|title}}</td>
        </tr>
        {% endif %}
    </table>
</div>
{%endblock%}