{% block content %}
    <ul class="minerals__container">
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abelsonite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abenakiite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abernathyite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abhurite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abramovite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Abswurmbachite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Acanthite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Achavalite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Actinolite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Acuminite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Adamite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Adelite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Admontite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aegirine</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aenigmatite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aerinite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aerugite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Afghanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Afwillite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Agardite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Agrellite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Agrinierite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aheylite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aikinite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Ajoite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Akatoreite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Akdalaite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Akimotoite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aksaite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aktashite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Alabandite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Alamosite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Alarsite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Albite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Albrechtshraufite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aldermanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Algrodonite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Aliettite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Allabogdanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Allactite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Allanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Allanpringite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Alloclasite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Allophane</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Altisite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Amakanite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Amesite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Amphibole</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Anandite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Anglesite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Ankerite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Annite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Anorthite</a>
        </li>
        <li class="minerals__item">
            <a class="minerals__anchor" href="index.html">Antarcticite</a>
        </li>
    </ul>
{% endblock %}